.body {
    background-color: rgb(204, 210, 224);
}
.head {
    border: 10px double seashell;
    border-radius: 10px;
    background-color:rgb(19, 40, 63);
}
.hangman {
    text-align: center;
    background-color: rgb(19, 40, 63);
    color:silver;
    font-size: 50px;
    margin-bottom: 0%;
    margin-left: 25%;
    margin-right: 25%;
}
.shark-attack {
    text-align: center;
    background-color:rgb(19, 40, 63);
    color: whitesmoke;
    font-size: 75px;
    margin-top: 0%;
    margin-left: 30%;
    margin-right: 30%;
}
.container {
    display:flex;
    position: relative;
    
}
.img-container {
    flex:1.5;
    width: 90px;
    height: 90px;
}
img {
    max-width: 560px;
    height: 690px;
}
.game {
    flex:2;
    border: 10px double seashell;
    width: 700px;
    height: 650px;
    margin-top: 0%;
    margin-left: 10px;
    padding:.5em;
    text-align: center;
    font-size: 20px;
    color:  rgb(19, 40, 63);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

    
}

